<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="C:\Users\lenevo\Desktop\web development practise\html\WEBSITE\pictures\Capture.PNG">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>MUSE.com</title>
<style>
  
nav{
      width: 100%;
      display: flex;
      position: fixed;
      top: 0;
      align-items: center;
      justify-content: space-between;
      padding: 10px 10px;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  nav ul li{
      display: inline-block;
      list-style: none;
      margin: 10px 50px;
  }
  
  nav ul li a{
      text-decoration: none;
      color: black;
  }
  
  .logo{
      padding: 0% 1%;
  }
  
  .left-items{
      padding-left: 15%;
  }
  
  
  
  .left-items .MEN{
      display: inline-block;
      position: relative;
      color: black;
    }
    
    .left-items .MEN:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: black;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    
    .left-items .MEN:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  
  .left-items .WOMEN{
      display: inline-block;
      position: relative;
      color: black;
    }
  
    
    .left-items .WOMEN:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: black;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    
    .left-items .WOMEN:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  
    
    .left-items .KIDS{
      display: inline-block;
      position: relative;
      color: black;
    }
    
    .left-items .KIDS:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: black;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    
    .left-items .KIDS:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
/* body {
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
} */

* {
  box-sizing: border-box;
}

.row {
  margin-top: 20px;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  /* margin: 0 -16px; */
  margin-left: 10px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.container input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn1 {
  background-color: black;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn1:hover {
  background-color: grey;
  color: black;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

footer{
  margin-top: 50px;
  background-color: black;
  padding: 7% 7% 7%;
  line-height: 3rem;
}

footer .row .col1{
  padding-left: 40px;
  padding-top: 30px;
  color: white;
  display: inline-block;
  max-width: 25%;
  line-height: 1rem;
}

footer .row .col2{
  padding-left: 40px;
  padding-top: 30px;
  color: white;
  max-width: 25%;
}

footer .row .col2 a{
color: white;
text-decoration: none;

}


footer .row .col3{
  padding-left: 40px;
  padding-top: 30px;
  color: white;
  max-width: 25%;
}

footer .row .col3 a{
color: white;
text-decoration: none;

}

footer .row .col4 h5{
color:  white;
}

footer .row .col4 p{
  color: white;
}

footer .row .col4{
  padding-left: 40px;
  padding-top: 30px;
  color: white;
  display: inline-block;
  max-width: 25%;
}


footer .cr h1{
  color: white;
  font-size: large;

}
footer .cr{
  margin-top:3rem;
  
}



</style>
</head>
<body>
  <nav class="navbar">
    <div class="logo">
        <a href="index2">
            <img src="/pictures/MUSE LOGO/Capture.PNG" alt="image not found"  width="060px" >  
        </a>
          
    </div>
   
 <ul class=" left-items" >
    <li class="MEN">
     <a href="men">MEN</a>
    </li>
    <li class="WOMEN"> 
    <a href="women">WOMEN</a>
    </li>
    <li class="KIDS">
    <a href="accesories">ACCESSORIES</a>
    </li>
    </ul>
    <ul class="right items" style="visibility:hidden;">
    <li>
        <a href="#"><ion-icon name="search-outline"></ion-icon></a>
    </li>
    <li>
        <a href="#"><ion-icon name="person-outline"></ion-icon></a>
    </li>
    <li>
        <a href="cart"><ion-icon name="bag-outline"></ion-icon></a>
    </li>
 </ul>
</nav> 


<div class="row">
  <div class="col-75">
    <div class="container">
      <form method="post" action="/checkout" >
      
        <div class="row">
          <div class="col-50">
            <h3>Billing Address</h3>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Mubin Saeed">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email" placeholder="abc@example.com">
            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input type="text" id="adr" name="address" placeholder="abc street">
          
          </div>

          <div class="col-50">
            <h3>Payment</h3>
            <label for="fname">Accepted Cards</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>
            <label for="cname">Name on Card</label>
            <input type="text" id="cname" name="cardname" placeholder="Mubin Saeed">
            <label for="ccnum">Credit card number</label>
            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
            <label for="expmonth">Exp Month</label>
            <input type="text" id="expmonth" name="expmonth" placeholder="December">
           
          </div>
          
        </div>
        <%var prop = '';%>
        <%if(itemvalue.length ==0){prop = 'disabled';}%>

        <a href=""><button class="btn1" <%=prop %> type="submit">PROCEED TO CHECKOUT</button></a>
      </form>
    </div>
  </div>
  <div class="col-25">
    <div class="container">
      <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> </span></h4>
      <%var counter = 0;%>
      <%var final = 0; %>
      <%console.log(itemvalue.length); %> 
 
      <% itemvalue.forEach(function(product){   %>  
        <%counter = counter+1; %> 
        <p>Product<%=counter %> <span class="price">$<%=product.sub_total %> </span></p>
        <%final = product.grand_total; %>
      <% }) %>
      
      <hr>
      <p>Total <span class="price" style="color:black"><b>$<%=final %></b></span></p>
    </div>
  </div>
</div>




<footer>
  <div class="footer">
         <div class="row ">
                          <div class="col1 ">
                                   <h5 class="col1-heading"> MUSE</h6>
                                     <p class="col1-text1">We’re available by phone +123-456-789 </p> 
                                     <p class="col1-text2">info@example.com</p>
                                     <p class="col1-text3">Monday till Friday 10 to 6 EST </p> 
                          </div>
                         
                          <div class="col2 ">
                           <h5 class="col2-heading">About US</h6>
                             <ul>
                              <li> <a href="#">Contact US</a></li> 
                              <li> <a href="#">Factories</a></li> 
                              <li> <a href="#">Careers</a></li> 
                              <li> <a href="#">Shipping Policy</a></li> 
                              <li> <a href="#">Terms and conditions</a></li> 
                              <li> <a href="#">Refund Policy</a></li> 
                             </ul>
                         </div>

                         <div class="col3 ">
                           <h5 class="col3-heading">Our Shop</h6>
                             <ul>
                              <li> <a href="#">New Arrival</a></li> 
                              <li> <a href="#">Top Trending</a></li> 
                              <li> <a href="#">Autumn Collection</a></li> 
                              <li> <a href="#">Back in Stock</a></li> 
                              <li> <a href="#">Denim Collection</a></li> 
                             </ul>
                          </div>
                         
                          <div class="col4">
                           <h5 class="col4-heading">Newsletter</h6>
                             <p class="col4-text4">Receive our weekly newsletter. For dietary content, fashion insider and the best offers.</p> 
                             <div class="input-group mb-3">
                               <input type="text" class="form-control" placeholder="Email Address" aria-label="Recipient's username" aria-describedby="button-addon2">
                               <button class="btn btn-light btn-outline-secondary btn-lg" type="button" id="button-addon2" >JOIN</button>
                             </div>
                          </div>
          </div>
<div class="cr">
<h1>Copyright © 2022 MUSE. All rights reserved.</h1>
</div>


  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>


</body>
</html>
