.header{
  width: 100%;
  height: 100vh;
  padding: 0% 0% 0%;
}
nav{
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 50px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

.logo{
    padding: 0% 1%;
}

.left-items{
    padding-left: 15%;
}



.left-items .MEN{
    display: inline-block;
    position: relative;
    color: black;
  }
  
  .left-items .MEN:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .left-items .MEN:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.left-items .WOMEN{
    display: inline-block;
    position: relative;
    color: black;
  }

  
  .left-items .WOMEN:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .left-items .WOMEN:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  
  .left-items .KIDS{
    display: inline-block;
    position: relative;
    color: black;
  }
  
  .left-items .KIDS:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .left-items .KIDS:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
 
 




  .topsell3{
    position: relative;
    display: inline-block;
    padding: 0px 0px 0px;
    margin-top: 350px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .image {
    display: block;
    width: 400px;
    height: 500px;
    height: auto;
  }
  .overlay {
    position: absolute;
    bottom: 500px;
    left: 0;
    right: 0;
    background-color: rgb(58, 56, 56);
    overflow: hidden;
    width: 400px;
    height:0;
    transition: .4s ease;
    opacity: 60%
  }
  .topsell3:hover .overlay {
    bottom: 0;
    height: 100%;
  }
.text {
    color: white;
    font-size: 30px;
    font-weight: bolder;
    position: absolute;
    font-family: 'Lora';
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


  .t1 a{
    text-decoration: none;
    color: white;
  }

  .t1 a:hover{
   text-decoration: dashed;
   font-weight: bolder;
   opacity: 200%;
   color: white;

  }


  .topsell3 img {
    transition: transform .5s ease;
  }
  .topsell3:hover img {
    transform: scale(1.05);
  } 

  .topsell-head{
    margin-top: 55px;
    text-align: center;
    font-weight: 200;
    font-size: 2cm;
    font-family: 'Lora', serif;
  }



  
.winter-products .winter-special-text{
  text-align:  center;
  font-family: 'Lora';
  font-size: 1.5cm;
  margin-top: 60px;
}
.winter-products .winter-special-text:hover{
  text-decoration: dashed;
}


/* CSS */
.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
.button-57 .text{
  color: black;
  padding: 10px 10px 10px;
}

.winter-products .card1 {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 26px;
  padding: 0px 0px 0px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 200px;
  display: inline-block;
}

.card1:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.button-57 .BUY{
  color: black;
  float: inline-start;
  font-size: 15px;
  padding-top: 5px;
  font-family: 'Lora';

}

.card1 .desc1{
  margin-top: 20px;
  text-align: center;
  font-family: 'Lora';
}

.card1 .img:hover {
  background-image: url(pictures/slider/brown2.jpg);

}



footer{
  margin-top: 50px;
  background-color: black;
  padding: 7% 7% 7%;
  line-height: 3rem;
}

footer .row .col1{
  padding-left: 40px;
  padding-top: 30px;
  color: white;
  display: inline-block;
  max-width: 25%;
  line-height: 1rem;
}

footer .row .col2{
  padding-left: 40px;
  padding-top: 30px;
  color: white;
  max-width: 25%;
}

footer .row .col2 a{
color: white;
text-decoration: none;

}


footer .row .col3{
  padding-left: 40px;
  padding-top: 30px;
  color: white;
  max-width: 25%;
}

footer .row .col3 a{
color: white;
text-decoration: none;

}

footer .row .col4 h5{
color:  white;
}

footer .row .col4 p{
  color: white;
}

footer .row .col4{
  padding-left: 40px;
  padding-top: 30px;
  color: white;
  display: inline-block;
  max-width: 25%;
}


footer .cr h1{
  color: white;
  font-size: large;

}
footer .cr{
  margin-top:3rem;
  
}


